# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
env/
*.egg-info/
dist/
build/
.mypy_cache/

# Dataset UCI terlalu besar (127MB > GitHub 100MB limit)
household_power_consumption.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.claude